<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="MyDemoSuite" > 
<!-- 
<groups>
 	<run> 
		<include name="smoke" />
	</run> 
</groups>
-->	
	<test name="JavaScriptAlerts"> 
		<classes> 
			<class name="page.HomePage"/>
			<class name="page.InputForm"/>
			<class name="page.InputFormDetails"/>
		</classes> 
	</test> 
</suite>

