<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="MyDemoSuite" > 
<!-- 
<groups>
 	<run> 
		<include name="smoke" />
	</run> 
</groups>
-->	
	<test name="JavaScriptAlerts"> 
		<parameter name="browser" value="firefox"/>
		<classes> 
			<class name="sample.AnnotationEx1"> 
				<methods>
				<include name="samplePrintout"/>
				<exclude name="testingC"/>
				</methods>			
			</class>
		</classes> 
	</test> 
</suite>

